
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #333;
  font-family: 'Walter Turncoat', cursive;
  background-image: url('./img/plywood.jpg'); 
}
