@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Walter+Turncoat');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Patua+One');

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Walter Turncoat', cursive;
}
